body {
    margin: 0 
}

.layout { 
    width: 100%;  
}

.wrapper {
    background-color: rgb(14, 219, 134);
    margin: 0 auto;
    width: 950px;
    min-width: 950px;
}

.header {
    background-color: white  
}

.bottom {
    background-color: white;
    position: relative;
}

.news {
    background-color: white;
    width: 180px;
    float: left;
}

.news > h1 {
    font-size: 25px;
    color: rgb(66, 119, 219)
}

.content {
    background-color: white;
    margin-left:180px 
}

.columns > .buy {
   position: relative; 
   display: inline-block;
   width: 30%;
}
.footer {
    clear: both
}