body {
    margin: 0 
}

.layout { 
    width: 100%;  
}

.wrapper {
    background-color: white;
    margin: 0 auto;
    width: 960px;
    min-width: 960px;
}

.header {
    background-color: white;
    margin-left:5px;  
}

.nav {
    font-size: 20px;
    color: rgb(135, 135, 135);
    font-family: Trebuchet MS;
    float: right;
    position: relative;
    text-decoration: none;
    margin-top: 12px;
    margin-right: 22px
   
}

.nav:link {
    color: rgb(135, 135, 135); 
    }

.nav:visited {
    color: rgb(135, 135, 135);
}

.nav:hover {
    color: rgb(4, 129, 194);
    
}

.nav:active {
    color: rgb(4, 129, 194);
    
}

.bottom {
    background-color: white;
    position: relative;
}

.sidebar {
    background-color: white;
    width: 230px;
    margin-left:5px;
    float: left;
    border-top: 5px solid rgb(4, 129, 194);
    border-bottom: 5px solid rgb(4, 129, 194);
}

* {box-sizing: border-box;}
body{margin: 0;}
div {padding: 30px 0}
form {
  position: relative;
  width: 228px;
  margin: 0 auto;
  padding-right: 2px;
}

.searchbar input, .searchbar button {
  border: none;
  outline: none;
  background: transparent;
}
.searchbar input {
  width: 100%;
  height: 27px;
  padding-left: 5px;
  border: 1px solid rgb(81, 81, 81);
  outline: none;
  font-size: 12px;
  }


.searchbar button {
  height: 25px;
  width: 40px;
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
  }
.searchbar button:before {
    font-weight: bold;
 }

.latestnewstitle > div {
    border-bottom: 1px solid black;
    
}
.news > h1 {
    font-size: 25px;
    color: rgb(4, 129, 194);
    font-family: Trebuchet MS
}

.news > h3 {
    font-size: 14px;
    color: rgb(4, 129, 194);
    font-family: Trebuchet MS
}

.news > p {
    font-family: Arial;
    font-size: 12px;
    color: rgb(64, 64, 64);
    text-align: justify;
}

.content {
    background-color: white;
    width: 710px;
    margin-left:245px; 
    border-bottom: 5px solid rgb(39, 145, 207);
    border-top: 5px solid rgb(39, 145, 207);
}

.maincontent > .banner {
   position: relative; 
   display: inline-block;
   width: 32.9%;
   
}
.banner > h2 {
    font-size: 18px;
    color: rgb(4, 129, 194);
    font-family: Trebuchet MS
}

.banner > p {
    font-family: Arial;
    font-size: 12px;
    color: rgb(64, 64, 64);
    text-align: justify;
    
}

.readmore {
    text-decoration:none; 
    font-family: Arial;
    color: rgb(135, 135, 135);
    font-size: 12px;
}


.footer {
    clear: both
}

.footer > p {
    float: right;
    font-size: 14px;
    font-family: Arial;
    color: rgb(64, 64, 64);
}