body {
    margin: 0 
}

.layout { 
    width: 100%;  
}

.wrapper {
    background-color: white;
    margin: 0 auto;
    width: 960px;
    min-width: 960px;
}

.header {
    background-color: rgb(38, 187, 58);
    margin-left:5px;  
}

.bottom {
    background-color: white;
    position: relative;
}

.newsmenu {
    background-color: white;
    width: 230px;
    margin-left:5px;
    float: left;
    border-top: 5px solid rgb(4, 129, 194);
    border-bottom: 5px solid rgb(4, 129, 194);
}

* {box-sizing: border-box;}
body{margin: 0;}
div {padding: 30px 0}
form {
  position: relative;
  width: 228px;
  margin: 0 auto;
  padding-right: 2px;
}

.search input, .search button {
  border: none;
  outline: none;
  background: transparent;
}
.search input {
  width: 100%;
  height: 27px;
  padding-left: 5px;
  border: 1px solid rgb(81, 81, 81);
  outline: none;
  }


.search button {
  height: 25px;
  width: 40px;
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
  }
.search button:before {
  font-size: 10px;
  font-weight: bold;
 }

.latestnews > div {
    border-bottom: 1px solid black;
    
}
.news > h1 {
    font-size: 25px;
    color: rgb(4, 129, 194);
}

.news > h3 {
    font-size: 15px;
    color: rgb(4, 129, 194);
}

.content {
    background-color: white;
    width: 710px;
    margin-left:245px; 
    border-bottom: 5px solid brgb(39, 145, 207);
    border-top: 5px solid rgb(39, 145, 207);
}

.columns > .buy {
   position: relative; 
   display: inline-block;
   width: 32.9%;
}
.buy > h2 {
    font-size: 20px;
    color: rgb(4, 129, 194);
}

.readmore {
    text-decoration:none; 
    color: grey
}


.footer {
    clear: both
}

.footer > p {
    float: right;
    font-size: 14px
}